@import "./typography";

//Fonts
$primary-font: "Integral CF", sans-serif;
$secondary-font: "Satoshi", sans-serif;

//Font weights
$light: 300;
$bold: 500;
$extra-bold: 900;

//Colors
$primary-color: #fff;
$secondary-color: #f0f0f0;
$accent-color: #000;
$hero-bg: #f2f0f1;
$gray: #808080;
$product-bg: #f0eeed;
$red: #ff0004;
$red-transparent: #ff33331f;
