@use "../../app/variables" as *;

.ourHappyCustomers * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.loader {
	display: flex;
	justify-content: center;
}

.ourHappyCustomers {
	max-width: 1340px;
	margin-inline: auto;
	@media only screen and (max-width: 1440px) {
		max-width: 950px;
	}
	@media only screen and (max-width: 1050px) {
		max-width: 660px;
	}
	@media only screen and (max-width: 800px) {
		max-width: 460px;
	}
	@media only screen and (max-width: 600px) {
		padding-inline: 20px;
	}
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media only screen and (max-width: 600px) {
			flex-direction: column;
			gap: 20px;
		}

		.sectionTitle {
			font-family: $primary-font;
			font-size: 48px;
			@media only screen and (max-width: 1050px) {
				font-size: 36px;
			}
			@media only screen and (max-width: 800px) {
				font-size: 24px;
			}
			@media only screen and (max-width: 450px) {
				font-size: 18px;
			}
		}
		.navigateCommentButtonsContainer {
			display: flex;
			gap: 20px;
		}
		.previousBtn,
		.nextBtn {
			background-color: transparent;
			cursor: pointer;
			border: none;
			transition: opacity 0.2s ease-in-out;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	.commentsSection {
		margin-block: 30px;
	}
}
