@use "../../app/variables" as *;

.modalOverlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4444;
}
.modalContent * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.modalContent {
	background: $secondary-color;
	padding: 20px;
	border-radius: 8px;
	max-width: 800px;
	width: 100%;
	outline: none;
	font-family: $secondary-font;
}

.cartModal {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	::-webkit-scrollbar {
		width: 4px;
	}
	::-webkit-scrollbar-track {
		background: $hero-bg;
	}
	::-webkit-scrollbar-thumb {
		background: $accent-color;
		border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: $gray;
		cursor: ns-resize;
	}
	.yourCart {
		font-family: $primary-font;
		text-align: center;
		font-size: 30px;
	}
	.closeBtn {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 100px;
		border: none;
		background-color: $primary-color;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: rotate(45deg);
		}
	}
	.emptyWarning {
		font-size: 40px;
		text-align: center;
		margin-block: 20px;
	}
	ul {
		list-style: none;
		padding: 6px;
		max-height: 70vh;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.cartSummary {
		display: flex;
		justify-content: space-around;
		align-items: center;
		.clearBtn {
			width: 200px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-family: $secondary-font;
			border: none;
			border-radius: 100px;
			background-color: $accent-color;
			color: $primary-color;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			text-decoration: none;
			&:hover {
				background-color: $primary-color;
				color: $accent-color;
			}
		}
	}
}
