@use "../../app/variables" as *;

.modalOverlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4444;
}

.modalContent {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	max-width: 500px;
	width: 100%;
    font-family: $secondary-font;
}

.cartModal {
	h2 {
		margin-bottom: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	.cartItem {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}
	.cartSummary {
		margin-top: 1rem;
		font-weight: bold;
	}
	.actions {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
		button {
			padding: 0.5rem 1rem;
			border: none;
			background: #0070f3;
			color: white;
			cursor: pointer;
			&:hover {
				background: #005bb5;
			}
		}
	}
}
